h1{
  font-weight: 700;
  font-size: 45px;
  padding:  10px;
  margin: 10px;
  margin-bottom: 20px;
}

input {
  width:100% 
  /* Width 100% means the element will take all the width of its parent */
}

.item-container {
  text-align: left;
}

.todo-row {
  margin: 10px 5px;
}

.todo-btn {
  min-width: 80px;
  border-radius: 20px;
}